body {
	background-image: url(gastudios.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-align: center;
	display: block;
}

h1 {
	font-size: 60px;
	font-family: 'Cute Font', sans-serif;
	font-weight: bold;
	color: #C00;
}

#subscribe {
	position: relative;
	margin-top: 250px;
}